@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Oswald&family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://db.onlinewebfonts.com/c/834878b02142b27571af4cf45058b358?family=Archive+Black+Title');
@import url("https://db.onlinewebfonts.com/c/bd8a32a14dfcc8da25220ac00f67ac70?family=VeroneseBookCondensed");

/* font-family: 'Brygada 1918', serif; */
/* font-family: 'Raleway', sans-serif; */
/* font-family: 'Oswald', sans-serif; */
/* font-family: "VeroneseBookCondensed";*/
/* font-family: "Archive Black Title";*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}